<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% if title is defined %}{{ title }}{% else %}FAIR Data Point{% endif %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('build/app.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% if description is defined %}<meta name="description" content="{{ description }}">{% endif %}
        {% block stylesheets %}{% endblock %}
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                                                              j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-MPCWGSR');</script>
        <!-- End Google Tag Manager -->
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MPCWGSR"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <script src="{{ asset('build/runtime.js') }}"></script>
        <script src="{{ asset('build/app.js') }}"></script>
    </body>
</html>
