<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% if title is defined %}{{ title }}{% else %}FAIR Data Point{% endif %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('build/app.css') }}?v={{ app_version }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% if description is defined %}<meta name="description" content="{{ description }}">{% endif %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <script src="{{ asset('build/runtime.js') }}?v={{ app_version }}"></script>
        <script src="{{ asset('build/app.js') }}?v={{ app_version }}"></script>
    </body>
</html>
